USE [master]
GO
/****** Object:  Database [estudo]    Script Date: 10/12/2024 09:05:46 ******/
CREATE DATABASE [estudo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'estudo' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'estudo' SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [estudo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [estudo]
GO
/****** Object:  Table [dbo].[cadastro]    Script Date: 10/12/2024 09:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cadastro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[endereco] [varchar](250) NOT NULL,
	[numero] [int] NOT NULL,
	[cidade] [varchar](250) NOT NULL,
	[estado] [varchar](2) NOT NULL,
	[email] [varchar](250) NULL,
	[senha] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 10/12/2024 09:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[endereco] [varchar](250) NOT NULL,
	[numero] [int] NOT NULL,
	[cidade] [varchar](250) NOT NULL,
	[estado] [varchar](2) NOT NULL,
	[email] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 10/12/2024 09:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[valor_unitario] [numeric](9, 2) NOT NULL,
	[valor_total] [numeric](9, 2) NOT NULL,
	[nome_cliente] [varchar](150) NULL,
	[nome_produto] [varchar](150) NULL,
	[data_emissao] [datetime] NULL,
	[numero_pedido] [int] NULL,
	[data_alteracao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 10/12/2024 09:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[produto] [varchar](150) NOT NULL,
	[descricao] [varchar](250) NULL,
	[valor_unitario] [numeric](9, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_cadastro] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cadastro] ([id])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_cadastro]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_produtos] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produtos] ([id])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_produtos]
GO
USE [master]
GO
